body{
/*height: 900px;*/ 
overflow-y: auto;
overflow-x: hidden;

}

header{
	padding-bottom: 100px;
}

.sidenav{
	margin-top: 110px;
    height: 100%;
    width: 230px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;  
  
}

.images1{
	border-radius: 50%;
    padding: 5px;
    display: block;
    width: 40%;
    margin-bottom: 0px;
    float: center;	
}
img.background1{
	width: 50%;
	display: block;
    margin: auto;
}
img.bk2
{ border-radius:50%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border: 1px solid #ddd;
padding: 5px;
    margin: auto;
	margin-bottom: 30px;
	    margin-top: 10px;
}

img.back3:hover {
    box-shadow: 0 0 2px 1px rgba(0, 160, 186, 0.5);
}

img.back3
{ border-radius:50%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border: 1px solid #ddd;
padding: 5px;
    margin: auto;
	margin-bottom: 30px;
	    margin-top: 10px;
}

img.bk2:hover {
    box-shadow: 0 0 2px 1px rgba(0, 160, 186, 0.5);
}


img.back4
{ border-radius:50%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border: 1px solid #ddd;
padding: 5px;
    margin: auto;
	margin-bottom: 30px;
	    margin-top: 10px;
}

.sidenav a{
	padding-left: 20px;
    text-decoration: none;
	text-align: left;
    font-size: 17px;
    color: #19263E;
    display: block;
}
.item{
	
	padding-top:20px;
	padding-bottom:20px
}
.PanelItem{
	padding:10px;
}
.sidenav a:hover{
	background-color: #ff7f50;
	color: #19263E;
	
    text-decoration: none;
}
.sidenav a:active{
	background-color: #ff7f50;
	color: #19263E;
}

button.accordion {
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    overflow: hidden;
    color: #19263E;
    padding-left: 20px;
	font-size: 17px;
}

button.accordion.active, button.accordion:hover {
    background-color: #ff7f50;
	color: #19263E;
}



div.panel {
    background-color: #FFFFFF;
    max-height: 0;
	width: 100%;
	color: #19263E;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 0px solid #FFFFFF;
}
div.panel a{
	font-size: 14px;
	
    text-decoration: none;
}
div.panel a:active, div.panel a:hover{
background-color: #ff7f50;
	color: #19263E;
}

button.accordion:after {
    content: '\02795';
    font-size: 9px;
    color: #19263E;
    float: right;
    margin-top: 3px;
}

button.accordion.active:after {
    content: '\2796';
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 10px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.h1, h1 {
	
	
    font-size: 30px;
	color: #e2574c;
}
ul.breadcrumb {
   
    padding: 4px 1px;
    margin-right: 350px;
    list-style: none;
    background-color: rgb(255, 255, 255);
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 15px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "≫";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
        color: #333333;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #ff7f50;
    text-decoration: none;
}
div.desc {
    padding: 15px;
    text-align: center;
}
.round1 {
    width: 100%;
    float: left;
	margin-top: 25px;
    border: 1px  solid coral;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}
.menu2{
  width:100%;
  padding: 18px 0;
  justify-content: space-between;
}

.menu2 ul{
	list-style-type: none;
    overflow: hidden;
    margin-right: 0px;
    margin-left: -10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu2 li {
		float: right;
}

.menu2 li a{
	display:inline-block;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	margin: 0px 10px;
	color:black;
	font-weight: bold;
	font-size:20px;
	float:left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
table, th, td {
  border: none;
  
}

table {
   width: 100%;
    display: table;

}

th{
	
color:#e2574c;}
table.highlight > tbody > tr:hover {
  background-color: #f2f2f2;
}

table.centered thead tr th, table.centered tbody tr td {
  text-align: center;
}

thead {
  border-bottom: 1px solid #d0d0d0;
}

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

.menu2 a:hover {
    color: red; 
}

a.active {
border-bottom: 1px solid red;
}

li.logo2{
	float:left;
	margin: -15px 0px;
}

 .chart {
    width:900px;
    height: 600px;
    position: relative;
    border: 2px solid coral;
	margin:auto;
  }
  .chart:after {
      content:' ';
      display:block;
      border:1px solid black;
      position:relative;
      top:608px;
      left: -2px;
  }

  .tick {
  border-left: 2px solid black;
  height: 18px;
  top: 608px;
  position: absolute;
}
.tick:nth-child(1) {
    left: -2px;
}
.tick:nth-child(2) {
  left: 98px;
}
.tick:nth-child(3) {
  left: 198px;
}
.tick:nth-child(4) {
  left: 298px;
}
.tick:nth-child(3n+1) {
  border-left: 4px solid darkred;
  height: 24px;
}
.tick > span {
  position:relative;
  left: -5px;
  top: 26px;
  font: 1em Arial, Helvetica, sans-serif;
}
.tick:nth-child(3n+1) > span {
  left: -6px;
  font-weight: bold;
}
.tick:nth-child(5) {
  left: 398px;
}
.tick:nth-child(6) {
  left: 498px;
}
.tick:nth-child(7) {
  left: 598px;
}
.tick:nth-child(8) {
  left: 698px;
}
.tick:nth-child(9) {
  left: 798px;
}
.tick:nth-child(10) {
  left: 898px;
}

li.logo2 a{
	font-family: 'Chewy', cursive;
	font-size: 50px;
	color:coral;
}

.org2{
	color:#ffcc00;
}

.cards {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   
}
.card1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* Add some padding inside the card container */
.container2 {
    padding: 2px 16px;
}
.container {
    padding-right: 15px;
	font-family: sans-serif;
}
.h4, h4{
	
	margin: 10px 0px 0px 0px;
    padding-left: 10px;
}
.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width:40%;
  background-color: #ffcc00;
  color:white;
  
}
.card5 {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width:40%;
  background-color: #ff7f50;
  color:white;
  float:right;
      margin-top: 100px;
    margin-right: 100px;
	
}

.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
      background-color: rgba(193, 193, 193, 0.93);
}
.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.card-action:hover{
    box-shadow: 0 0 2px 1px rgba(0, 160, 186, 0.5);
}
.card-action1:hover{
    box-shadow: 0 0 2px 1px rgba(0, 160, 186, 0.5);
}
img.plate{
	padding-top:20px;
	width: 45%;
	display: block;
    margin: auto;
}
img.plate2{
	padding-top:20px;
	width: 65%;
	display: block;
    margin: auto;
}
img.plate3{
	padding-top:20px;
	width: 69%;
	display: block;
    margin: auto;
}
span.card-title{
	padding-left:10px;
}
p.resturantdesc{
	padding-left:10px;
}
div.card-action{
	
	padding-left:10px;
	text-decoration:none;
	padding: 16px 24px;
	
}
div.card-action1{
	
	padding-left:10px;
	text-decoration:none;
	padding: 16px 24px;
	background-color: #c5c1b3;
	
}
a.reslink{
	text-decoration: none;
    text-align: center;
    margin: auto;
    padding-left: 140px;
    color: #ffffff;
	font-size:17px;
}
a.reslink1{
	text-decoration: none;
    text-align: center;
    margin: auto;
    padding-left: 155px;
    color: #ffffff;
	font-size:17px;
}