.menu{
  width:100%;
  padding: 5px 0;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  position: relative;
}

.menu ul{
	list-style-type: none;
    overflow: hidden;
    margin-right: 20px;
    margin-left: -10px;
    margin-top: 14px;
    box-shadow: 0 7px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu li {
		float: right;
}

.menu li a{
	display:inline-block;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	margin: 0px 10px;
	color:black;
	font-weight: bold;
	font-size:20px;
	float:left;
}


.menu a:hover {
    color: red; 
}

a.active {
border-bottom: 1px solid red;
}

li.logo{
	float:left;
	margin: -15px 0px;
}

li.logo a{
	font-family: 'Chewy', cursive;
	font-size: 50px;
	color:coral;
}

.org{
	color:#ffcc00;
}