html{
  height:100%;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("../css/images/carto.png");
    background-position: fixed;
    background-repeat: repeat;   
}

.searchBar
{
  border-radius: 5px;
  padding: 30px;
  background-color:rgba(192,192,192,0.3);
  position: absolute;
  left: 360px;
  top: 330px;
  width: 260px;  
}
#area{
  font-family: 'Source Sans Pro', sans-serif;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
  font-size:25px;

  color: rgba(0, 0, 0, 0.6);
}

#goButton{
  display: inline;
  background-color: #00ff99;
  padding: 15px 10px 10px 10px;
  border-radius: 5px; 
}

.gobtn{
    text-decoration: none;
    color:black;
    font-size:20px;
}

.welcome{
  border-radius: 5px;
  padding: 40px;
  background: transparent;
  position: absolute;
  left: 310px;
  top: 210px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:40px;
  color:coral;
  font-weight: bold;

}

div{
  overflow: auto;
}

.sidenav{
  width:70%;
  margin-top:10%;
  margin-left: 5%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  overflow:auto;

}

.sidecu{
  height: 80%;
}

.sidenav ul{
  list-style-type: none;
  overflow: hidden;
  margin-right: 0px;
  margin-left: -40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sidenav li{
  display: block;
}

.sidenav li a{
  display:block;
  text-decoration: none;
  text-align: center;
  color:black;
  font-weight: bold;
  font-size:20px;
  padding: 20px 10px;
}

.sidenav li a:hover{
  background-color:#F8F8F8;
}

.sidenav li a.sub{
  background-color: #DCDCDC;
  font-size:15px;
}

.sidenav li a.subactive{
  background-color: #DCDCDC;
  font-size:15px;
  border-left: 1px solid red;
}

.sidenav li a.sub:hover{
  background-color: #e6fff3;
}

.sidenav li p{
  font-size:20px;
  padding: 0px 10px;
  text-align: center;
}

.sidenav li img{
  display: block;
  margin:0 auto;
  opacity: 0.5;
}

.sidenav li img:hover {
   opacity: 1.0;
  cursor: pointer;
}

.centview{
  margin-top: 5%;
  border-radius: 10px;
  background-color: white;
  width:85%;
}

.sideactive{
  background-color:#D0D0D0;
  border-left: 8px solid #99ff99;
}

.card {
    background-color: #FFFCF2;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3);
    margin-bottom: 10px;
    transition: 0.3s;
}

.editbtn{
  float:right;
  background: url("images/addicon.png") no-repeat transparent;
  background-color: #80d4ff;
  width:80px;
  height:50px;
}

.centview input[type=text], .centview input[type=password]{
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0px 20px 0px;
    display: block;
    border-radius: 5px;
    border: 1px solid grey;
    box-sizing: border-box;
}

.error{
  color:red;
}

.success{
  color:#00b300;
}

.savebtn{
  display: none;
  float:right;
  width:80px;
  height:50px;
  background-color: #99ffcc;
}

.sbtn{
  float:right;
  width:80px;
  height:50px;
  background-color: #99ffcc;
}

table{
  width:95%;
  margin:20px;
  border: 1px solid black;
  border-collapse: collapse;
}

td, th{
    border: 2px solid #ddd;
    padding: 8px;
    text-align: center;
}

td div{
  float:left;
}

td p{
  font-style: italic;
}

.right-info{
float:left;
width: 60%;
margin-top: -10px;
padding-left: 25px;
}

h2{
  margin-bottom: -10px;
}

td a{
  text-decoration: none;
  color: black;
}

.srch {
  margin-top: 5%;
}

.srch input[type="text"], .cent-prodc input[type="text"]{
  background-image: url('../css/images/searchico.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 15px 40px;
  margin:20px;
  width: 95%;
  border-color: #ddd;
}

.checked{
  color:orange;
}

h1{
  text-align: center;
}

.cent-prodc{
  margin-left: 3%;
  margin-top: 10%;
}

.add-prd{
  background: url("images/addicon.png") no-repeat transparent;
  width:30px;
  height: 30px;
  border-radius: 15px;
}

.shop-cart{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  overflow:auto;
  width:90%;
  height: 90%;
}

.shop-cart h3{
  border-bottom: : 2px solid #ddd;
}

.shop-cart img{
  padding-top: 10%;
}

.container-shop{
  position:absolute;
  padding:0px 7px;
  width:30%;
  height:60%; 
  margin: 7% 35% 0% 0%;
}

.restheader{
  width:100%;
  height: 400px;
  background-image: url('images/rasp.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  opacity: 0.8;
}

.menuhead{
  width:100%;
  height: 400px;
  background-image: url('images/chickenburger.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  opacity: 0.8;
}

#descheader{
    position:relative;
    font-weight: bold;
    color: white;
    text-align: center;
    top:355px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.17);
    padding: 10px;
    width: 60%;
}